
h1 Generate new map:

ul(id="map-size")
    li small
    li medium
    li large

div(id="actions")
    ul
        li(id="toggle") select tile
        li(id="rotate") rotate
        li(id="print") print map

    canvas(id="preview" width="50" height="50")

canvas(id="can")

//div(id="map")

div(id="drawer")
    p(id="close") close

    ul
        